.carousel {
  position: relative;
  width: 550px;
  height: 550px;
  margin: 40px auto;
}
.viewport {
  position: relative;
  height: 550px;
  overflow: hidden;
}

.track {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  opacity: 0;
}

/* CENTER */
.slide.center {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
}

/* LEFT */
.slide.left {
  transform: translate(calc(-150% - 8px), -50%) scale(0.9);
  opacity: 0.6;
  z-index: 2;
}

/* RIGHT */
.slide.right {
  transform: translate(calc(50% + 8px), -50%) scale(0.9);
  opacity: 0.6;
  z-index: 2;
}

/* HIDDEN */
.slide.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  border: none;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  border-radius: 0 3px 3px 0;
  background-color: transparent;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 0px 3px 3px 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dots {
  text-align: center;
  margin-top: 10px;
}
.dot {
  height: 10px;
  width: 10px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dot.active {
  background: #333;
}
