.shop-item {
  width: 100%;
  max-height: 400px;
  background-color: hsla(0, 0%, 50%, 0.1);
  padding: 0.5em 0.5em;
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr 0.5fr;
  flex-direction: column;
  gap: 0.5em;

  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.category {
  font-size: 15px;
  letter-spacing: 1px;
}

.imgWrapper {
  width: 100%;
  min-height: 100px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shop-item-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  overflow: hidden;
}

.shop-item-title {
  font-size: var(--f-1_5);
  line-height: 1.125;
  margin-bottom: 0.2em;
}

.shop-item-price {
  font-size: 1.25em;
  font-weight: 300;
  margin-block-start: auto;
  margin-bottom: 0.2em;
  /* color: blue; */
}

.content {
  display: grid;
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .imgWrapper {
    min-height: 308px;
  }
}
