.card {
  width: 100%;
  height: 100%;
  padding: 1.5em 2em;
  background-color: hsla(0, 0%, 50%, 0.1);
  border-radius: 8px;
  position: relative;
  display: grid;
  gap: 0.5em;

  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.category {
  font-size: 15px;
  letter-spacing: 1px;
}

.imgWrapper {
  width: 100%;
  min-height: 200px;
}

.productImg {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

.texts {
  display: grid;
  gap: 0.5em;
}

.title {
  font-size: var(--f-1_5);
  line-height: 1.125;
}

.price {
  font-size: 1.25em;
  font-weight: 300;
  margin-block-start: auto;
  /* color: blue; */
}

.content {
  display: grid;
  gap: 0.5rem;
}

.status {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-end: 0;
  padding: 0.25em 1.5em;
  font-size: 0.85em;
  font-weight: 600;
  color: white;
  border-radius: 32px 0 0 32px;
  text-transform: uppercase;
  opacity: 0.8;
}

.inStock {
  background-color: green;
}

.lowStock {
  background-color: orange;
}

.outStock {
  background-color: red;
}

@media (max-width: 767px) {
  .imgWrapper {
    min-height: 308px;
  }
}
