.quantityControl {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: var(--quantityControlWidth);
  border-radius: 20px;
  border: 2px solid #e8ebef;
  max-height: 100px;
}

.quantityInput {
  flex: 1;
  border: none;
  text-align: right;
}

.btn {
  flex: 0.1;
  font-size: 1em;
  font-weight: 700;
  background-color: #e8ebef;
  border: none;
}

.btn:hover {
}
